@import './src/sass/color.module'
.skillWrapper
  position: relative
  width: 80px
  min-height: 120px
  transition: all 0.5s ease-in
  text-align: center
  display: flex
  flex-direction: column
  box-shadow: 0 5px 10px black
  border-radius: 3px
  background: url(../../../public/svgBackground/backgroundSkill.svg) center center/cover no-repeat
  margin: 5px

.skillSvg
  padding: 5px
  margin-top: 10px
  border-radius: 3px

.skillTitle
  font-size: 12px
  color: white
  margin-top: 10px




