@import './src/sass/color.module'

.main
  min-height: 80vh
  width: 100%
  //background: linear-gradient(to top, #ffffff 0%, #ccccff 100%)
  //background: url('https://kartinkin.net/uploads/posts/2021-07/1626787904_24-kartinkin-com-p-zvezdnoe-nebo-besshovnaya-tekstura-krasivo-24.jpg') repeat
  padding: 40px 0 0 0


.wrapper
  display: flex
  align-items: center
  justify-content: space-around
  height: 100%
  flex-wrap: wrap


@media (max-width: 1200px)
  .flexRowSpaceAlignCenter
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    flex-wrap: wrap

