.formWrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 40%
  min-height: 30vh
  margin: 0 auto
  background: url(../../public/svgBackground/backgroundProject.svg) center center/cover no-repeat
  border-radius: 5px
  padding: 20px 10px 20px 10px
  box-sizing: border-box


@media (max-width: 1200px)
  .formWrapper
    width: 60%

@media (max-width: 768px)
  .formWrapper
    width: 80%