.projectWrapper
  width: 320px
  height: 400px
  padding: 5px
  border-radius: 3px 0 3px 3px
  box-shadow: 0 0 5px white
  position: relative
  overflow: hidden
  transition: 0.5s
  margin: 10px
  box-sizing: border-box
  background: rgba(255, 255, 255, 0.5)
  backdrop-filter: saturate(180%) blur(10px)

.title
  margin: 0 auto
  text-align: center
  color: white
  position: relative
  z-index: 10

.trapezoid
  position: absolute
  top: 0
  right: 0
  z-index: 0
  transform: scale(1.4)

.img
  width: 100%
  margin-bottom: 10px

.boxButton
  width: 10em
  margin: 0 auto


.technologyWrapper
  border-top: 2px solid gray
  margin-top: 15px
  padding: 10px 5px 5px 5px
  display: flex
  justify-content: space-around
  align-items: center
  border-radius: 2px

@media (max-width: 650px)
  .projectWrapper
    width: 260px
    height: 360px
  .trapezoid
    transform: scale(1)